body {
	background: url('./assets/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif	

}

h1{
	margin-bottom: 80px;
	justify-content: left;
	align-items: left;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif	
	;
}

form{
	padding: 10px;
}

input,.searchButton {
	margin-right: 5px;
}


i{
	cursor:pointer;
}

.modal-body {
	margin-bottom: 5px;
/*	text-align: center;
*/}

